.container {
  height: 100%;
  background-color: #e5e5e5;
  min-height: calc(100vh - 144px);
}
.homeInner {
  max-width: 1360px;
  margin: 0 auto;
  width: 97%;
  padding: 40px 0;
  align-items: center;
}
.homeTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content {
  width: 55%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.content h1 {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 32px;
  line-height: 1.2;
  position: relative;
  letter-spacing: 0em;
  position: relative;
  color: #183862;
  text-transform: capitalize;
}
.content p {
  font-family: var(--primary-font);
  color: #597ba8ce;
  line-height: 1.6;
  font-size: 16px;
  font-weight: 500;
}
.animation {
  max-width: 440px;
}
.homeCards {
  display: flex;
  justify-content: space-between;
}
.homeBottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  gap: 80px;
}
.homeBottom h3 {
  font-size: clamp(28px, 3vw, 32px);
  font-family: var(--primary-font);
  font-weight: 900;
  letter-spacing: 0.2px;
  color: #183862b3;
}
.cardsContainer {
  display: flex;
  align-items: center;
  gap: 20px;
}
.card {
  max-width: 380px;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  background-color: #597ba84d;
  position: relative;
  border-radius: 6px;
}
.card img {
  position: absolute;
  top: -40px;
}
.card article {
  padding-top: 33px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  font-family: var(--primary-font);
}
.card article p {
  font-size: 13px;
  color: #514e4e;
}

.card h5 {
  font-family: var(--primary-font);
  font-size: 18px;
  margin-top: -20px;
}
.content a {
  font-family: var(--primary-font);
  font-size: clamp(14px, 1.4vw, 16px);
  font-weight: 500;
  line-height: 17px;
  color: #ffffff;
  background: linear-gradient(to right, #137595 0%, #330867 100%);
  border: none;
  cursor: pointer;
  border-radius: 4px;
  letter-spacing: 0.0366px;
  text-transform: capitalize;
  padding: 12px 20px;
  min-width: 140px;
  text-align: center;
  max-width: 180px;
}
@media screen and (max-width: 1024px) {
  .homeTop {
    flex-wrap: wrap;
  }
  .animation {
    width: 44%;
    min-width: 380px;
  }
  .content {
    min-width: 400px;
  }
}
@media screen and (max-width: 980px) {
  .homeTop {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
  }
  .animation,
  .content {
    width: 100%;
    min-width: auto;
  }
}
@media screen and (max-width: 900px) {
  .cardsContainer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    row-gap: 100px;
  }
  .card {
    max-width: 350px;
  }
}
@media screen and (max-width: 768px) {
  .cardsContainer {
    flex-direction: column;
  }
  .card {
    max-width: inherit;
    width: 75%;
    min-width: 380px;
  }
}
@media screen and (max-width: 550px) {
  .cardsContainer {
    align-items: flex-start;
  }
  .card {
    min-width: inherit;
    width: 100%;
  }
  .homeTop {
    width: 90%;
  }
}
