.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container h1 {
  font-family: var(--primary-font);
  font-size: clamp(40px, 4.5vw, 52px);
  font-weight: 700;
  letter-spacing: 0.4px;
  background: linear-gradient(to right, #30cfd0 0%, #330867 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}
